<div class="container home">
	<img class="logo" src="/images/logo.svg" width="400px" align="center"><br>
	
	<%= link_to "Navegar en los Puestos".html_safe, puestos_path, :class=>"waves-effect waves-light btn navega" %>
</div>