<div class="container home">
	<img src="https://docs.google.com/drawings/d/13UcFZzOCP1-12eA285_CpqlYQRgX0d2CSuNqjkbl4gY/pub?w=1440&h=1080" width="500px" align="center">
	<p><%=link_to"Navegar Puestos",principal_index_path%></p>
</div>