<h1>Crear Puesto</h1>

<%= render 'form', puesto: @puesto %>
<i class="medium material-icons">
	
<%= link_to "navigate_before".html_safe, principal_index_path, :class=>"medium material-icons" %>
</i>
