<h1>Puesto#crearPuesto</h1>
<p>Find me in app/views/puesto/crearPuesto.html.erb</p>
<form action="create" method="POST">
    <input type="text" name="nombre">
    <input type="number" name="numPuesto">
    <input type="text" name="imagen">
    <input type="submit" value="Submit">

</form>
