// Place all the styles related to the Principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.btn-floating.btn-large.large.material-icons {
	color: white;
	line-height: 2; 
	background-color: #679334;
}