// Place all the styles related to the Principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centrado {
    text-align: center;
}
i.material-icons.cuenta {
    font-size: 15em;
    cursor: default;
}
h3 {
    cursor: default;
}

