// Place all the styles related to the Puestos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn-floating.btn-large.large.material-icons {
	color: white;
	line-height: 2; 
	background-color: #679334;
}


.container:has(> #hola) {
    width: 100% !important;
    max-width: 1980px !important;
}

.map{
	width: 65% !important; 
	height: 610px;
	display:inline-block;
	margin: 0;
	padding:0;
	position: relative !important;
}

.mapEdit{
    width: 100% !important;
    height: 400px;
}

.puestos,.puestoDetalles {
	display:inline-block;
	vertical-align: top;
    margin: 0 2%;
    position: absolute;
}
.tamanio {
	height: 50px;
}

.user {
    width: 50px !important;	
}

.card-panel span {
    margin-left: 10px;
    position: relative;
    top: -49%;
}

.enlistaPuestos .row{
    margin: auto;
}

.enlistaPuestos a:hover{
    color:white;  
    background-color: transparent; 
}

.indicators {
	bottom: 15% !important;
    z-index: 10 !important;
}

.card {
	width: 65% !important;
	display:inline-block;
	margin:0 !important;
	padding:0;
}

.card-panel {
    background-color: #679334 !important;
}
.row.enlistaPuestos{
    overflow-y: hidden !important;
    float: left !important;
    max-height: 480px !important;
    padding: 0px !important;

}

.enlistaPuestos:hover {
    overflow-y: auto !important;
    position:absolute;
}

.style-10::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.style-10::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    /*background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);*/
}

